<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="/report/admin">
    <span class="align-middle">BubbleT</span>
</a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Dashboard
            </li>

            <li class="sidebar-item {{cssactive page 'report'}}">
                <a class="sidebar-link" href="/report/admin">
        <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
    </a>
            </li>
            <li class="sidebar-header">
                User Management
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/report/adminProfile" class="mm-{{cssactive page 'admin'}}">
        <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/report/listUsers" class="mm-{{cssactive page 'users'}}">
        <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">User List</span>
    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/report/create_admin" class="mm-{{cssactive page 'users'}}">
        <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Admin Creation</span>
    </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/forums/ViewReport" class="mm-{{cssactive page 'users'}}">
        <i class="align-middle" data-feather="flag"></i> <span class="align-middle">Thread Reports</span>
    </a>
            </li>

            <li class="sidebar-header">
                Vouchers Management
            </li>

            <li class="sidebar-item {{cssactive page 'voucher'}}">
                <a class="sidebar-link" href="/vouchers/vouchersView">
        <i class="align-middle" data-feather="coffee"></i> <span class="align-middle">Voucher Management</span>
    </a>
            </li>

            <li class="sidebar-header">
                Orders
            </li>

            <li class="sidebar-item {{cssactive page 'orderlist'}}">
                <a class="sidebar-link" href="/invoice/orderlist">
        <i class="align-middle" data-feather="square"></i> <span class="align-middle">Orders Delivery</span>
    </a>
            </li>

            <li class="sidebar-item {{cssactive page 'invoicelist'}}">
                <a class="sidebar-link" href="/invoice/invoicelist">
        <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Invoice history</span>
    </a>
            </li>

            <li class="sidebar-header">
                Drinks
            </li>

            <li class="sidebar-item {{cssactive page 'menuchange'}}">
                <a class="sidebar-link" href="/menu/adminmenu">
        <i class="align-middle" data-feather="coffee"></i> <span class="align-middle">Drinks</span>
    </a>
            </li>

            <li class="sidebar-item {{cssactive page 'optionchange'}}">
                <a class="sidebar-link" href="/menu/adminmenu">
        <i class="align-middle" data-feather="package"></i> <span class="align-middle">Placeholder</span>
    </a>
            </li>
        </ul>
    </div>
</nav>