<nav class="sidebars close shadow-sm">
    <header>
        <div class="image-text">
            <div class="image">
                <a href="/">
                    <img src="tristan/images/logo.png">
                </a>
            </div>

            <div class="text logo-text">
                <span class="name">{{user.name}}</span>
                <span class="profession">Threads in Time</span>
            </div>
            <a class="stretched-link" href="/adminProfile"></a>
        </div>
        <i class='bx bx-menu toggle'></i>
    </header>
    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">
                {{#each admin_nav}}
                <li class="nav-link position-relative">
                    <a href="{{ href }}" class="{{cssactive id active_page}}">
                        <i class='{{icon}} icon'></i>
                        <span class="text nav-text">{{caption}}</span>
                    </a>
                </li>
            
                {{/each}}
            </ul>
        </div>

        <div class="bottom-content">
            <li class="">
                <a href="/user/logout">
                    <i class='bx bx-log-out icon' ></i>
                    <span class="text nav-text">Logout</span>
                </a>
            </li>

            <li class="mode">
                <div class="sun-moon">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Dark mode</span>

                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>
        </div>
    </div>
</nav>

<script>
    const body = document.querySelector('body'),
    sidebar = body.querySelector('nav'),
    toggle = body.querySelector(".toggle"),
    modeSwitch = body.querySelector(".toggle-switch"),
    modeText = body.querySelector(".mode-text");


toggle.addEventListener("click" , () =>{
sidebar.classList.toggle("close");
})


modeSwitch.addEventListener("click" , () =>{
body.classList.toggle("dark");

if(body.classList.contains("dark")){
    modeText.innerText = "Light mode";
}else{
    modeText.innerText = "Dark mode";
    
}
});
</script>