<h1 class="fw-bold text-center mb-3">View Support Thread</h1>

        <a style="color:antiquewhite;" href="/forums/forums"><button type="submit" style="background-color:aqua;" >Go Back </button></a>
        

<hr>
 <div class="card mb-3">
            <div class="card-header">
                <h5 class="fw-bold my-1">{{ Thread.thread_Title }}</h5>
                <small class="p-0">Posted by: {{ Thread.user.username }}</small> 
                {{!-- <p class="date" >Created On: {{Thread.dateCreated}}</p> --}}
                
            </div>
            <div class="card-body py-2">
                <h5 class="fw-bold my-1">{{ Thread.thread_Content }}</h5>
                
               
                    
            </div>
        </div>
        <div class="modal fade" id="staticBackdropDiscard" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelDiscard" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="fw-bold" id="staticBackdropLabelDiscard">Delete Confirmation</h5>
                </div>
                <div class="modal-body">
                    <p>Are you sure that you would want to delete your this thread?</p>
                    <small class="text-danger fw-bold">
                        <sup>*</sup>This action is irreversible.
                    </small>
                </div>
                <div class="modal-footer">
                    <a href="/forums/forums">
                        <a style="color:antiquewhite;" href="/forums/DeleteThread/{{Thread.id}}"><button type="button" class="btn btn-danger">Confirm</button></a>
                    </a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    
                </div>
            </div>
        </div>
    </div>

        {{#if (check Thread.userId user.id) }}
                
    <div class="mx-auto" style="mix-width: 500px; float:right;">
        
                                    <a style="color:antiquewhite;" href="/forums/UpdateThread/{{Thread.id}}"><button type="submit" class="btn btn-primary" >Edit Thread</button></a>
          
                               
        
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdropDiscard">Delete Thread</button></a>
                                
        
    </div>
        {{else}}
        
        <a style="color:antiquewhite;" href="/forums/CreateReport/{{Thread.id}}"><button type="submit" style="float:right;background-color:crimson" >Report Thread <i class="fa-solid fa-font-awesome" style="color:black; "></i></button></a>
        
                
                {{/if}}

    <br>

    
    <div class = "comments">
        <h3 style="padding-left:8em; padding-bottom:1em;">Comments</h3>
        <div class="d-flex justify-content-center row">
            <div class="card mb-3" style="background-color:whitesmoke; min-height: 300px; width: 1000px;">
                <div class="container mt-5 mb-5">
            
                <div class="d-flex flex-column col-md-8">
                    <form method="POST" action="">
        
<div class="container card" style="width:920px">
            <div class="mb-3 mx-auto d-flex" id ="comment_box">
                
            <textarea placeholder ="Add comment" rows="1" cols = "70" name="comment_Content"  class ="form-control mr-3"required></textarea>
            <input style = "margin-left:10px; margin-top:4px;" id ="submit" type="submit" value="Comment" class="btn btn-info  mb-1" >
            
            </div>
        <hr>
           
        <table class="table " id="customers-table">
          
        {{#each comments}}

<tr class="fs-6 my-0" style="font-weight: 600;"> <td>
<div style = "font-family:'Courier New', Courier, monospace; font-size:large">
                <h5 class="fw-bold my-1" style ="padding-top:2em;"> <span id ="tablespan">Username: </span>{{ user.username }}</h5>
                
                
           
            
                <h5 class="fw my-1" style="padding-bottom:1em; padding-top:20px ;font-family:'Courier New', Courier, monospace;"><span id ="tablespan">Comment: </span>{{comment_Content }}</h5>
                

            </div>
            </tr> 
        {{/each}}
        
        </table> 
</div> 

      
    
</form>
        

                    
               
                    
            </div>
        </div>
    </div>
    </div>
    </div>
    
        </div>
    </div>
    
</div>


<style>
    #comment_box{
        padding-top: 50px;
        
        
    }

   

textarea {
  display:inline-block;
  width:90%;
  resize:none;
}

#submit {
  display:inline-block;
  width:20%;
  margin-bottom:-10px
}
#tablespan{
    font-family:Arial, Helvetica, sans-serif ;
    text-align: left;
}

</style>
