<h1 class="fw-bold text-center mb-3">View Support Thread</h1>
<hr>
 <div class="card mb-3">
            <div class="card-header">
                <h5 class="fw-bold my-1">{{ Thread.thread_Title }}</h5>
                <small class="p-0">Posted by: {{ user.username }}</small>
                
            </div>
            <div class="card-body py-2">
                <h5 class="fw-bold my-1">{{ Thread.thread_Content }}</h5>
                
               
                    
            </div>
        </div>


    <div class="mx-auto" style="max-width: 750px;">
        <button type="submit" class="btn btn-primary" >
                                    <a style="color:antiquewhite;" href="/forums/UpdateThread/{{Thread.id}}">Edit Thread</a>
          
                                </button>
        <button type="submit" class="btn btn-primary" >
                                    <a style="color:antiquewhite;" href="/forums/DeleteThread/{{Thread.id}}">Delete Thread</a>
                                </button>
        <a href="/forums/forums">
            <button type="button" class="btn btn-info btn-block">Go Back</button>
        </a>
    </div>
</div>