{% set active_page = 'users' -%}
<div class="card">
<h1 class="display-4">Retrieve Users</h1>
<div>
  {{#if count}}
  <p>There are no Customers.</p>
  {{else}}
  <p>There are {{ count }} Customers.</p>
  {{/if}}
</div>
<!-- 
<button id="hide">Hide</button>
<button id="show">Show</button> -->
<div class="card-body">
  <table class="table table-striped" id="customers-table">
    <thead>
      <tr>
        <th>Invoice ID</th>
        <th>Customer ID</th>
        <th>Name</th>
        <th>Order Details</th>
        <th>Status</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      {{#each invoice}}
      <tr>
      

        <td>{{ user.get_id() }}</td>
        <td>{{ user.get_customer_id() }}</td>
        <td>{{ user.get_name() }}</td>
        <td>{{ user.get_email() }}</td>
        <td>{{ user.get_gender() }}</td>
        <td>{{ user.get_phone_number() }}</td>
        <td><a href="{{url_for('admin.accounts.update_customer', id=user.get_customer_id())}}" class="btn btn-warning">Update User</a></td>
        <td>
          <form action="{{url_for('admin.accounts.delete_customer', id=user.get_customer_id())}}" method="POST">
            <!--<input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{user.get_name()}}?');">-->
            <!-- Button to Open the Modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{user.get_customer_id()}}">
              Delete user
            </button>
        
            <!-- The Modal -->
            <div class="modal" id="myModal_{{user.get_customer_id()}}">
              <div class="modal-dialog">
                <div class="modal-content">
        
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>
        
                  <!-- Modal body -->
                  <div class="modal-body">
                    Are you sure you want to delete {{user.get_name()}}?
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <input type="submit" value="Delete" class="btn btn-danger">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  </div>

                </div>
              </div>
            </div>
          </form>
        </td>



      </tr>
    {{/each}}
    </tbody>
  </table>
<script>
  window.addEventListener('DOMContentLoaded', event => {
                      
    const customersTable = document.getElementById('customers-table');
    if (customersTable) {
        new simpleDatatables.DataTable(customersTable);
    }

    const adminTable = document.getElementById('admin-table');
    if (adminTable) {
        new simpleDatatables.DataTable(adminTable);
    }


  });
</script>