<div class="card">
<h1 class="display-4">Orders</h1>
<div>
  {{#if count}}
  <p>There are no pending orders.</p>
  {{else}}
  <p>There are {{ invoices.length }} orders.</p>
  {{/if}}
</div>
<!-- 
<button id="hide">Hide</button>
<button id="show">Show</button> -->
<div class="card-body">
  <table class="table table-striped" id="customers-table">
    <thead>
      <tr>
        <th>Invoice ID</th>
        <th>Status</th>
        <th>Total Price</th>
        <th>Delivery Date</th>
      </tr>
    </thead>
    <tbody>
      {{#each invoices}}
      <tr>
        <td>{{ id }}</td>
        <td>{{ status }}. {{ statusdesc status }}</td>
        <td>{{ totalprice }}</td>
        <td>{{ formatDate datedelivery }}</td>
        {{#if (check delivered 0)}}
        <td><a href="/invoice/updateinvoice/{{id}}" class="btn btn-warning">Update Order</a></td>
        <td>
          {{#if (check status 4)}}
          {{!-- <form action="" method="POST">
            <!--<input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{user.id}}?');">-->
            <!-- Button to Open the Modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{user.id}}">
              <span>&#10003;</span>
            </button>
        
            <!-- The Modal -->
            <div class="modal" id="myModal_{{user.id}}">
              <div class="modal-dialog">
                <div class="modal-content">
        
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">x</button>
                  </div>
        
                  <!-- Modal body -->
                  <div class="modal-body">
                    Complete Order {{id}}?
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <a href="/invoice/delivered/{{id}}" class="btn btn-danger" style="color:white">Complete</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  </div>

                </div>
              </div>
            </div>
          </form> --}}
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{id}}">
            <span>&#10003;</span>
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel{{id}}" style="display:none;" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel{{id}}">{{id}}</h5>
                  <span style="float:right;"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></span>
                </div>
                <div class="modal-body">
                 Order Successfully Delivered
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary"><a href="/invoice/delivered/{{id}}" style="color:white">Complete</a></button>
                </div>
              </div>
            </div>
          </div>
          {{/if}}
        </td>
        {{else}}
        <td><a href="/invoice/updateinvoice/{{id}}" class="btn btn-warning">View details</a></td>
        {{/if}}



      </tr>
    {{/each}}
    </tbody>
  </table>