<div class="card">
<h1 class="display-4">User Management</h1>
<div>
  {{#if user}}
  <p>There are {{user.length}} account(s).</p>
  {{else}}
  <p>There are no Customers.</p>
  {{/if}}
</div>
<!-- 
<button id="hide">Hide</button>
<button id="show">Show</button> -->

<div class="card-body">
  <table class="table table-striped" id="customers-table">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Name</th>
        <th>Username</th>
        <th>Role</th>
        <th>Gender</th>
        <th>Phone</th>
        <th>Email</th>
        <th><button type="button" class="btn btn-info"><a href="/user/export" style="color: white;text-decoration: none;">Export</a></button></th>
      </tr>
    </thead>
    <tbody>
        {{#each user}}
        <tr>
          <td>{{ id }}</td>
          <td>{{ name }}</td>
          <td>{{ username }}</td>
          <td>{{ member }}</td>
          <td>{{ gender }}</td>
          <td>{{ mobile }}</td>
          <td>{{ email }}</td>
          {{#if activity}}
          <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#id{{id}}">
              Suspend
            </button>
            <!-- Modal -->
            <div class="modal fade" id="id{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" style="display:none;"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="id{{id}}">Confirmation</h5>
                    <span style="float:right;"><button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button></span>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to suspend account {{id}}?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"><a href="/user/suspendUser/{{id}}" style="color: white;text-decoration: none;">Confirm</a></button>
                  </div>
                </div>
              </div>
            </div>
          {{else}}
          <td>
          <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
            data-bs-content="Disabled popover">
            <button class="btn btn-primary" type="button" disabled>User Disabled</button>
          </span>
          </td>
          {{#if appeal}}
          <td>
            <button type="button" class="btn btn-danger">
              <a href="/user/appeal/{{id}}" style="color: white;text-decoration: none;">
              Appeal
              </a>
            </button>
          </td>
          {{/if}}
        {{/if}}
          </td>
        </tr>
      </tbody>
        {{/each}}
    </table>
  </div>
</div>
