<div class="card">
<h1 class="display-4">User Management</h1>
<div>
  {{#if user}}
  <p>There are {{user.length}} account(s).</p>
  {{else}}
  <p>There are no Customers.</p>
  {{/if}}
</div>
<!-- 
<button id="hide">Hide</button>
<button id="show">Show</button> -->

<div class="card-body">
  <table class="table table-striped" id="customers-table">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Name</th>
        <th>Username</th>
        <th>Gender</th>
        <th>Phone</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
        {{#each user}}
        <tr>
          <td>{{ id }}</td>
          {{!-- <td>{{ user.get_customer_id() }}</td> --}}
          <td>{{ name }}</td>
          <td>{{ username }}</td>
          <td>{{ gender }}</td>
          <td>{{ mobile }}</td>
          <td>{{ email }}</td>
          <td>
            <button onclick="document.getElementById('id01').style.display='block'" class="btn btn-danger">Suspend</button>
          </td>
        </tr>
      </tbody>
        {{/each}}
    </table>
  </div>
</div>
{{!-- <div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
  <form class="modal-content" action="/action_page.php">
    <div class="container2">
      <h1>Suspend Account</h1>
      <p>Are you sure you want to suspend account {{id}}?</p>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'"
          class="cancelbtn">Cancel</button>
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="deletebtn"><a
            href="/user/suspendUser/{{id}}" style="color: black;text-decoration: none;">Confirm</a></button>
      </div>
    </div>
  </form>
</div> --}}