

  <div class="container-fluid">

  <div class="col-md-12 text-center">

    <p class="h3 mt-4">Vouchers</p>
    <div>
  {{#if vouchers}}
  <p>There are {{vouchers.length}} voucher entree(s).</p>
  {{else}}
  <p>There are no voucher entrees.</p>
  {{/if}}
  <hr>
</div>
      
    </div>


        
                
      <table class="table table-striped" id="customers-table">
    <thead>
      <tr >
        <th>Code</th>
        <th>Voucher Name</th>
        <th>Value</th>
        <th>Created By Id</th>
        <th>Description</th>
        <th>Status</th>
        
      </tr>
    </thead>
    <tbody>         
            
    {{#each vouchers}}    
        
    <div class="container-sm my-5" style="width: 80%;">
      <tr class="fs-6 my-0" style="font-weight: 600;">
          <td>{{ id }}</td>
          <td>{{ Voucher_Name }}</td>
          <td>{{Value}}</td>
          <td>{{ Created_By}}</td>
          <td>{{ Description }}</td>
          <td>{{ Status }}</td>
          
          <td><div class="mx-auto" style="mix-width: 500px; float:right;">
        
                                    <a style="color:antiquewhite;" href="/vouchers/vouchersEdit/{{id}}"><button type="submit" class="btn btn-primary" >Edit Voucher</button></a>
          
                                
        
                                    <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropDiscard" >Delete Voucher</button>
                                
        <div class="modal fade" id="staticBackdropDiscard" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelDiscard" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="fw-bold" id="staticBackdropLabelDiscard">Delete Confirmation</h5>
                </div>
                <div class="modal-body">
                    <p>Are you sure that you would want to delete your this thread?</p>
                    <small class="text-danger fw-bold">
                        <sup>*</sup>This action is irreversible.
                    </small>
                </div>
                <div class="modal-footer">
                    <a href="/vouchers/vouchersView">
                        <a style="color:antiquewhite;" href="/vouchers/vouchersDelete/{{id}}"><button type="button" class="btn btn-danger">Confirm</button></a>
                    </a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    
                </div>
            </div>
        </div>
    </div>
    </div>
    </td>
      
  
</div>
</td>
        </tr>
      </tbody>
{{/each}}
</table>

<div class="mx-auto" style="mix-width: 500px; float:right;">
        
                                    <a style="color:antiquewhite;" href="/vouchers/vouchersCreate"><button type="submit" class="btn btn-primary" >Add Voucher</button></a>
          
                                
        
        
    </div>
             




