<div class="card">
<h1 class="display-4">Add Drink</h1>
<div>
  {{#if drink}}
  <p>There are {{drink.length}} Drink(s).</p>
  {{/if}}
</div>
<!-- 
<button id="hide">Hide</button>
<button id="show">Show</button> -->

<div class="card-body">
  <table class="table table-striped" id="customers-table">
    <thead>
      <tr>
        <th>Drink ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Description</th>
        <th><button type="button" class="btn btn-success"><a href="/menu/AddDrinks" style="color: white;text-decoration: none;">Add Drink</a></button></th>
      </tr>
    </thead>
    <tbody>
        {{#each drink}}
        <tr>
          <td>{{ id }}</td>
          <td>{{ name }}</td>
          <td>{{ price }}</td>
          <td>{{ category }}</td>
          <td>{{ desc }}</td>
        
          <td>
            <div class="mx-auto" style="mix-width: 500px; float:right;">
              <button type="submit" class="btn btn-primary" >
                <a style="color:antiquewhite;" href="">Edit Drink</a>
              </button>
              <button type="submit" class="btn btn-danger">
                <a style="color:antiquewhite;" href="">Delete Drink</a>
              </button>
          </td>
        </tr>
      </tbody>
        {{/each}}
    </table>
  </div>
</div>
