
{{!-- place holder --}}

{{!-- <div class="card">
<h1 class="display-4">Topping List</h1>
<!-- 
<button id="hide">Hide</button>
<button id="show">Show</button> 
-->
<div class="card-body">
  <table class="table table-striped" id="customers-table">
    <thead>
      <tr>
        <th>Topping ID</th>
        <th>Name</th>
        <th>Price</th>
   
        <th><button type="button" class="btn btn-success"><a href="/menu/         /{{id}}" style="color: white;text-decoration: none;">Add Topping</a></button></th>
      </tr>
    </thead>
    <tbody>
        {{#each drink}}
        <tr>
          <td>{{ id }}</td>
          <td>{{ name }}</td>
          <td>${{ price }}</td>
          <td>{{ category }}</td>
          <td>{{ desc }}</td>
        
          <td>
            <div class="mx-auto" style="mix-width: 500px; float:right;">
              <button type="submit" class="btn btn-primary" >
                <a style="color:antiquewhite;" href="/menu/           /{{id}}">Edit Topping</a>
              </button>
              <button type="submit" class="btn btn-danger">
                <a style="color:antiquewhite;" href="/menu/    1       /{{id}}" data-bs-toggle="modal" data-bs-target="#staticBackdropDiscard">Delete Topping</a>
              </button>
          </td>
        </tr>
      </tbody>

      <form method="POST" action=""></form>
        <div class="modal fade" id="staticBackdropDiscard" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelDiscard" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="fw-bold" id="staticBackdropLabelDiscard">Delete Confirmation</h5>
                  </div>
                      <div class="modal-body">
                        <p>Are you sure that you would want to Delete this Topping?</p>
                        <small class="text-danger fw-bold">
                          <sup>*</sup>This action is irreversible.
                        </small>
                      </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                          <a href="/menu/     1      /{{id}}">
                            <button type="button" class="btn btn-danger">Confirm</button>
                          </a>
                    </div>
                </div>
            </div>
          </div>    
      </form>
      {{/each}}
    </table>
  </div>
</div> --}}

