<div class="container-fluid">
    

      <div class="container-sm my-2" style="width: 90%;" >
        <h1 class="fw-bold text-center mb-3" style = "padding-top: 50px;" >Edit Drink</h1>

        <form method="POST" action = "">
        <div class="text-left">
        <div class="mb-3 mx-auto" style="max-width: 750px;">
            <p class="fw-bold">Drink Name:
                <input type="text" name="name" class="form-control" value="{{drink.name}}" >
            </p>
        </div>
        
        <div class="mb-3" style="width: 300px; padding-left:169px;">
            <p class ="fw-bold">Category: 
            <select id="category" name="category">
            <option value="{{drink.category}}">{{drink.category}}</option>
            <option value="SignaT">SignaT</option>
            <option value="Macchiato">Macchiato</option>
            <option value="Gtea">Green tea</option>
            <option value="Matcha">Mactha</option>
            <option value="Mtea">Milk tea</option>
            <option value="Oolong">Oolong tea</option>
        </select>
        </p>
        </div>

        <div class="mb-3 mx-auto" style="max-width: 750px;">
            <p class="fw-bold">Drink Description:
                <input type="text" name="desc" class="form-control" value="{{drink.desc}}" >
            </p>
        </div>
        
        <div class="mb-3" style="width: 500px; padding-left:169px;" >
            <p class="fw-bold">Drink Price:
            <input type="text" name="price"  class="form-control" required value="{{drink.price}}" >
            </p>
        </div>
        
        <div class="mx-auto" style="max-width: 750px;">
            <!-- Trigger Add Reply Modal -->
            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#staticBackdropReply">Save Changes</button>
            <!-- Trigger Discard Changes & Go Back Modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdropDiscard">Discard Changes & Exit</button>
        </div>        
          
<form method="POST" action="">
    <!-- Modal Codes (SUBMIT) -->
    <div class="modal fade" id="staticBackdropReply" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="fw-bold" id="staticBackdropLabel">Confirmation</h5>
                </div>
                <div class="modal-body">
                    <p>Are you sure that you want to save changes?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-info">Save Changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Codes (DELETE) -->
    <div class="modal fade" id="staticBackdropDiscard" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelDiscard" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="fw-bold" id="staticBackdropLabelDiscard">Discard Confirmation</h5>
                </div>
                <div class="modal-body">
                    <p>Are you sure that you would want to discard your changes and exit?</p>
                    <small class="text-danger fw-bold">
                        <sup>*</sup>This action is irreversible.
                    </small>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a href="/vouchers/vouchersView">
                        <button type="button" class="btn btn-danger">Confirm</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
        
      </form>
      </div>

</div>