<h1 class="fw-bold text-center py-4 px-2">My History</h1>
<hr>
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header bg-info">
                <h5 class="fw-bold mb-0">Pending Delivery</h5>
            </div>
            <div class="card-body">
                {{#if !invoices}}
                    <p>You have no pending deliveries.</p>
                {{#else}}
                    <p>You have <span class="fw-bold">{{count}}</span> pending delivery.</p>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header bg-info">
                <h5 class="fw-bold mb-0">
                    <i class="fa-solid fa-clock-rotate-left me-1"></i>Order History ({{ count }})
                </h5>
            </div>
            <div class="card-body">
                {{#if invoices}}
                {{#each invoices}}
                <h5 class="fw-bold mb-3">A3 Sedan</h5>
                <p class="mb-2">
                    <span class="fw-bold">Total Paid: </span>SGD190,415
                </p>
                <p class="mb-2">
                    <span class="fw-bold">Estimated Delivery Date: </span>{{ orders.datedelivery + 15 }}
                </p>
                <p class="mb-2">
                    <span class="fw-bold">Shipping Address: </span>{{ orders.address }}
                </p>
                <p class="mb-3">
                    <span class="fw-bold">Order ID: </span>{{ orders.id }}
                </p>
                <hr>
                {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
</div>