<h1 class="fw-bold text-center py-4 px-2">My History</h1>
<hr>
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header bg-info">
                <h5 class="fw-bold mb-0">Pending Delivery</h5>
            </div>
            <div class="card-body">
                {{#if invoices}}
                    <p>You have <span class="fw-bold">{{count}}</span> pending delivery.</p>
                {{else}}
                    <p>You have no pending deliveries.</p>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header bg-info">
                <h5 class="fw-bold mb-0">
                    <i class="fa-solid fa-clock-rotate-left me-1"></i>Order History ({{ invoices.length }})
                </h5>
            </div>
            <div class="card-body">
                {{#each invoices}} {{! { [drinks, quantity], [drinks2, quantity2], [drinks3, quantity3]  }   }}
                <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{id}}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{id}}" aria-expanded="true" aria-controls="collapse{{id}}">
                    {{formatDate datedelivery}} 
                    <br> Total Price: ${{decimal2 totalprice}} <br>
                    {{#if delivered}}
                    Status: Delivered
                    {{else}}
                    Status: Pending Delivery
                    {{/if}}
                    </button>       
                </h2>
                <div id="collapse{{id}}" class="accordion-collapse collapse" aria-labelledby="heading+{{id}}" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="row justify-content-center">
                        <div class="text-left text-sm-right col-6 d-grid p-3"><a class="btn btn-outline-primary btn-rounded btn-sm" href="/invoice/cfmorder/{{id}}" data-toggle="modal" data-target="#orderDetails">View Order Details</a></div>
                        </div>
                    {{#each items}}    
                    <p><b>{{ drink.name }} (${{ multiply price quantity}}) <span style="float: right !important">x{{ quantity }}</span></b></p>
                    <ul>
                        <li>
                            {{ sugar }}% sugar
                        </li>
                        <li>
                            {{ ice }} ice level
                        </li>
                        <li>
                            {{ topping }}
                        </li>
                    </ul>
                    {{/each}}
                    </div>
                </div>
                </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>