<h1 class="fw-bold text-center py-4 px-2">My History</h1>
<hr>
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header bg-info">
                <h5 class="fw-bold mb-0">Pending Delivery</h5>
            </div>
            <div class="card-body">
                {{#if !invoices}}
                    <p>You have no pending deliveries.</p>
                {{#else}}
                    <p>You have <span class="fw-bold">{{count}}</span> pending delivery.</p>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header bg-info">
                <h5 class="fw-bold mb-0">
                    <i class="fa-solid fa-clock-rotate-left me-1"></i>Order History ({{ count }})
                </h5>
            </div>
            <div class="card-body">
                {{#if invoices}}
                {{#each invoices}}
                <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                <h2 class="accordion-header" id="heading+{{id}}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    {{datedelivery}} Total Price: {{items.totalPrice}}
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="heading+{{id}}" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    {{#each items.products}}    
                    {{/each}}
                    </div>
                </div>
                </div>
                </div>
                {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
</div>