<style>
body{margin-top:20px;}

.steps .step {
    display: block;
    width: 100%;
    margin-bottom: 35px;
    text-align: center
}

.steps .step .step-icon-wrap {
    display: block;
    position: relative;
    width: 100%;
    height: 80px;
    text-align: center
}

.steps .step .step-icon-wrap::before,
.steps .step .step-icon-wrap::after {
    display: block;
    position: absolute;
    top: 50%;
    width: 50%;
    height: 3px;
    margin-top: -1px;
    background-color: #e1e7ec;
    content: '';
    z-index: 1
}

.steps .step .step-icon-wrap::before {
    left: 0
}

.steps .step .step-icon-wrap::after {
    right: 0
}

.steps .step .step-icon {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    border: 1px solid #e1e7ec;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #374250;
    font-size: 38px;
    line-height: 81px;
    z-index: 5
}

.steps .step .step-title {
    margin-top: 16px;
    margin-bottom: 0;
    color: #606975;
    font-size: 14px;
    font-weight: 500
}

.steps .step:first-child .step-icon-wrap::before {
    display: none
}

.steps .step:last-child .step-icon-wrap::after {
    display: none
}

.steps .step.completed .step-icon-wrap::before,
.steps .step.completed .step-icon-wrap::after {
    background-color: #0da9ef
}

.steps .step.completed .step-icon {
    border-color: #0da9ef;
    background-color: #0da9ef;
    color: #fff
}

@media (max-width: 576px) {
    .flex-sm-nowrap .step .step-icon-wrap::before,
    .flex-sm-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 768px) {
    .flex-md-nowrap .step .step-icon-wrap::before,
    .flex-md-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 991px) {
    .flex-lg-nowrap .step .step-icon-wrap::before,
    .flex-lg-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 1200px) {
    .flex-xl-nowrap .step .step-icon-wrap::before,
    .flex-xl-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

.bg-faded, .bg-secondary {
    background-color: #f5f5f5 !important;
}
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
<div class="container padding-bottom-3x mb-1">
        <div class="card mb-3">
          <div class="p-4 text-center text-white text-lg bg-dark rounded-top"><span class="text-uppercase">Tracking Order No - </span><span class="text-medium">{{invoice.id}}</span></div>
          <div class="card-body">
            <div class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x">
              <div class="step {{statuscompleted invoice.status 1}}">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="pe-7s-cart"></i></div>
                </div>
                <h4 class="step-title">Making Order</h4>
              </div>
              <div class="step {{statuscompleted invoice.status 2}}">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="pe-7s-coffee"></i></div>
                </div>
                <h4 class="step-title">Collected Order</h4>
              </div>
              <div class="step {{statuscompleted invoice.status 3}}">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="pe-7s-car"></i></div>
                </div>
                <h4 class="step-title">Drinks En Route</h4>
              </div>
              <div class="step {{statuscompleted invoice.status 4}}">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="pe-7s-home"></i></div>
                </div>
                <h4 class="step-title">Drink Delivered</h4>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row flex-wrap flex-md-nowrap justify-content-center">
          <div class="text-left text-sm-right fa-align-center col-6 d-grid"><a class="btn btn-outline-primary btn-rounded btn-sm" href="/invoice/cfmorder/{{invoice.id}}" data-toggle="modal" data-target="#orderDetails">View Order Details</a></div>
        </div>
      <hr>
<div class="row">
  <div class="col-6">
    <p>Date of delivery: {{formatDate invoice.datedelivery}}</p>
    <p>Time of Order Collected: {{formatTime invoice.datedelivery 5}}</p>
    <p>Estimated Time of Delivery: {{formatTime invoice.datedelivery 30}}</p>
  </div>
  <div class="col-6">
    <div id="googleMap" style="width:100%;height:400px;"></div></div>
</div>
      </div>
    <hr>
<p><a href="/tracking/tracking"><span style="float:left; font-size:30px;">&#8617;</span></a></p>


<script>
function initMap() {
  const directionsService = new google.maps.DirectionsService();
  const directionsRenderer = new google.maps.DirectionsRenderer();
  const map = new google.maps.Map(
    document.getElementById("googleMap"),
    {
      zoom: 7,
      center: { lat: 1.3805184623115008, lng: 103.84878776528998 },
    }
  );

  directionsRenderer.setMap(map); 
  const onChangeHandler = function () {
    calculateAndDisplayRoute(directionsService, directionsRenderer);
  };
  calculateAndDisplayRoute(directionsService, directionsRenderer);
}

function calculateAndDisplayRoute(
  directionsService,
  directionsRenderer
) {
  directionsService
    .route({
      origin: {
        query: "Bober Tea @ Bishan, sg"
      },
      destination: {
        query: {{{invoice.postal}}}+", sg",
      },
      travelMode: google.maps.TravelMode.DRIVING,
    })
    .then((response) => {
      directionsRenderer.setDirections(response);
    })
    .catch((e) => window.alert("Directions request failed due to " + status));
}

window.initMap = initMap;
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHvTihHpmf9qaes0s5FtX9GZgnVMZZVRc&callback=initMap&v=weekly"></script>